.main-sign-div {
    border: 2px solid red;
    text-align: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.username-div {
    border: 1px solid green;
    width: 80%;
    padding: 3rem;
}
.main-sign-div input {
    height: 2rem;
    margin-top: 5px;
    width: 20rem;
   
}